/* 
$tipografia:
arial,
times new roman,
comic sans;
 */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif; }

/* Mobile */
.btnNav {
  margin-right: 5%; }

.contenedorLogo {
  margin-left: 5%; }
  .contenedorLogo .logo {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white; }

.desplegableNav {
  margin-right: 5%; }

.btnWhatsapp {
  opacity: 0; }

/* Web */
@media screen and (min-width: 1000px) {
  .contenedorItems {
    margin-left: 20%; }
  .contenedorLogo .logo {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white; }
  /* Boton  Saca tu turno*/
  .btnWhatsapp {
    background-color: #def9f9;
    text-align: center;
    border-radius: 5%;
    opacity: 1; }
    .btnWhatsapp:hover {
      background-color: #25d366; }
    .btnWhatsapp .turno {
      color: #0000008c;
      padding: 0; }
      .btnWhatsapp .turno:hover {
        color: white; } }

/* & se usa para poder acomodar el codigo, para no repetir el mismo class para llamar y darle estilo */
/* si uso inventacion puedo usar esta propiedad tambien */
/* Separa por secciones  */
/* Carrosel */
.tituloPrincipal {
  font-size: 2rem;
  color: #222;
  text-align: center;
  margin: 0rem 0.25rem 0.25rem 0; }

.nombre {
  margin-bottom: 0.1rem; }

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

.contenedorFlex {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0.25rem;
  padding: 0.1rem; }

.contenedorFlex img,
.contenedorFlex p {
  font-size: 1.5rem; }

/* web */
@media (min-width: 800px) {
  .carrosel {
    border: solid 1px white;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 60%; }
  .carrosel img {
    width: 1400px;
    height: 400px;
    object-fit: cover; }
  .tituloPrincipal {
    margin: 9%;
    background-color: transparent;
    font-size: 3rem;
    -webkit-text-stroke: 0.000000001px #def9f9;
    color: #222; }
  .contenedorFlex {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100; }
  .imagen {
    width: 500px; }
    .imagen:hover {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -o-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05); }
  /* animacion */ }

/* Cuerpo */
.contenedorFlex p {
  width: 90%;
  margin: auto;
  text-align: justify;
  font-size: 1.25rem;
  padding: 0 0.5rem; }

.tituloSecundario,
.tituloTercero {
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
  border-bottom: solid 1px #222;
  border-top: solid 1px #222; }

/* Peluqueria */
@media screen and (min-width: 801px) {
  .textoPrimerSubtitulo {
    font-size: 25px; } }

.tituloPagina {
  margin-top: 5%;
  text-align: center; }

.textoPrimerSubtitulo {
  margin: 5%; }

.card img {
  object-fit: cover;
  width: 95%;
  height: 300px;
  margin: auto; }

/* Carrosel de promociones */
/*VERSION TAB contacto.html*/
@media (min-width: 700px) and (max-width: 800px) {
  .contenedorContacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin: 2% auto; }
  .contenedorContacto {
    width: 650px; }
  form {
    width: 550px; }
  .itemContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px; }
  .mapaContacto {
    width: 550px;
    height: 300px; }
  .contenidoFormulario {
    width: 450px; }
  .itemContactoIcono i {
    margin-left: 1000px; } }

/*VERSION WEB contacto.html*/
@media screen and (min-width: 801px) {
  .contenedorContacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    text-align: center; }
  .itemContacto {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    width: 400px;
    height: 450px; }
  .contendorMapaForm {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 1000px; }
  form {
    border-left: solid 1px black;
    border-right: solid 1px black;
    width: 350px;
    height: 400px; }
  form label {
    margin-left: 5%;
    text-align: center; }
  .contenidoFormulario {
    font-family: "Poiret One", cursive;
    background-color: #def9f9;
    font-size: 20px;
    border: none;
    padding: 2% 5%; }
  .boton {
    font-size: 20px;
    text-align: center;
    border: solid 1px black; }
    .boton:hover {
      background-color: #12909e; }
  .mapaContacto {
    margin-top: 50px;
    width: 350px;
    height: 400px; }
  .itemContactoIcono {
    width: 400px;
    margin: 0 30px; } }

.itemContactoIcono a {
  color: #12909e; }

.itemContactoIcono i {
  margin-left: 30%; }
