/* Color pallete */
/* Para llamar el mapa 

map-get ($colores, principal);

map-get($colores, font);
*/
/* extend */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

/* para llamar al extend
@extend %flexColumn;

@extend %flexRow;

recordar ponerlo luego de llamar al class
*/
/* mixins */
/* para llamarlo
@include flexbox(column, space-between, nowrap)


    @include flexbox(row, space-around, space-around,nowrap);

PARA MEDIA QUERYS

*/
/* 
@include mediaQuery (desktop) {
}

@include mediaQuery (tablet) {
}

@include mediaQuery(mobile) {
}

  */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif; }

li {
  list-style: none; }

/* Mobile */
.btnNav {
  margin-right: 5%; }

.contenedorLogo {
  margin-left: 5%; }
  .contenedorLogo .logo {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white; }

.desplegableNav {
  margin-right: 5%; }

.btnWhatsapp {
  opacity: 0; }

.botonNav {
  border: none;
  background-color: white; }

/* Web */
@media screen and (min-width: 1000px) {
  .contenedorItems {
    margin-left: 20%; }
  .contenedorLogo .logo {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white; }
  /* Boton  Saca tu turno*/
  .btnWhatsapp {
    background-color: #def9f9;
    text-align: center;
    border-radius: 5%;
    opacity: 1; }
    .btnWhatsapp:hover {
      background-color: #25d366;
      transition: 0.2s; }
    .btnWhatsapp .turno {
      color: #0000008c;
      padding: 0; }
      .btnWhatsapp .turno:hover {
        color: white;
        transition: 0.2s; } }

.contenedorRedes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap; }
  .contenedorRedes .itemFooter {
    color: #fff; }

.redes {
  color: #0000008c; }

.navFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap; }
  .navFooter .itemFooter {
    color: #fff; }

.copyright {
  text-align: center; }

/* Web */
@media only screen and (min-width: 1000px) {
  .navFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap; }
  .redes {
    margin: 50px; }
  .contenedorRedes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap; }
    .contenedorRedes .itemFooter {
      color: #fff; } }

/* & se usa para poder acomodar el codigo, para no repetir el mismo class para llamar y darle estilo */
/* si uso inventacion puedo usar esta propiedad tambien */
/* Separa por secciones  */
/* Carrosel */
.contenedorFlex {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0.25rem;
  padding: 0.1rem; }

.contenedorFlex img,
.contenedorFlex p {
  font-size: 1.5rem; }

/* Cuerpo */
.contenedorFlex p {
  width: 90%;
  margin: auto;
  text-align: justify;
  font-size: 1.25rem;
  padding: 0 0.5rem; }

.tituloSecundario,
.tituloTercero {
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
  background-color: #fff; }

.imagen {
  width: 200px;
  margin: auto; }

/* web */
@media only screen and (min-width: 1000px) {
  .carrosel {
    border: solid 1px white;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 60%;
    margin-top: 10%; }
  .tituloPrincipal {
    color: #def9f9;
    text-align: center;
    margin-bottom: 5%; }
  .nombre {
    margin-bottom: 0rem;
    font-size: 1rem;
    color: #def9f9; }
  .carrosel img {
    width: auto;
    height: 250px;
    object-fit: cover; }
  .contenedorFlex {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100; }
  .imagen {
    width: 500px; }
    .imagen:hover {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -o-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05); }
  /* animacion */
  .tituloSecundario,
  .tituloTercero {
    text-align: center;
    margin: auto;
    font-size: 24px;
    width: 100%;
    color: #0000008c; }
  .imagen {
    width: 30%;
    margin: 0; } }

/* Peluqueria */
@media screen and (min-width: 801px) {
  .textoPrimerSubtitulo {
    font-size: 25px; } }

.tituloPagina {
  margin-top: 20%;
  text-align: center; }

.contenedorTitulo {
  background-color: #def9f9; }

.textoPrimerSubtitulo {
  margin: 5%; }

.card img {
  object-fit: cover;
  width: 95%;
  height: 300px;
  margin: auto; }

/* Carrosel de promociones */
/*VERSION TAB contacto.html*/
@media (min-width: 700px) and (max-width: 800px) {
  .contenedorContacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin: 2% auto; }
  .contenedorContacto {
    width: 650px; }
  form {
    width: 550px; }
  .itemContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px; }
  .mapaContacto {
    width: 550px;
    height: 300px; }
  .contenidoFormulario {
    width: 450px; }
  .itemContactoIcono i {
    margin-left: 1000px; } }

/*VERSION WEB contacto.html*/
@media screen and (min-width: 801px) {
  .contenedorContacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    text-align: center; }
  .itemContacto {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    width: 400px;
    height: 450px; }
  .contendorMapaForm {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 1000px; }
  form {
    border-left: solid 1px black;
    border-right: solid 1px black;
    width: 350px;
    height: 400px; }
  form label {
    margin-left: 5%;
    text-align: center; }
  .contenidoFormulario {
    font-family: "Poiret One", cursive;
    background-color: #def9f9;
    font-size: 20px;
    border: none;
    padding: 2% 5%; }
  .boton {
    font-size: 20px;
    text-align: center;
    border: solid 1px black; }
    .boton:hover {
      background-color: #12909e; }
  .mapaContacto {
    margin-top: 50px;
    width: 350px;
    height: 400px; }
  .itemContactoIcono {
    width: 400px;
    margin: 0 30px; } }

.itemContactoIcono a {
  color: #12909e; }

.itemContactoIcono i {
  margin-left: 30%; }
