
/* Contenedor grid */
.containerGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 3fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "contenendorGridHeader"
    "carrosel"
    "contendorMain"
    "contenedorFooter";
}
.contenendorGridHeader {
  grid-area: contenendorGridHeader;
}
.carrosel {
  grid-area: carrosel;
}
.contendorMain {
  grid-area: contendorMain;
}
.contenedorFooter {
  grid-area: contenedorFooter;
}









