@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #def9f9;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

/* Contenedor grid */
.containerGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 3fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "contenendorGridHeader"
    "carrosel"
    "contendorMain"
    "contenedorFooter";
}
.contenendorGridHeader {
  grid-area: contenendorGridHeader;
}
.carrosel {
  grid-area: carrosel;
}
.contendorMain {
  grid-area: contendorMain;
}
.contenedorFooter {
  grid-area: contenedorFooter;
}

/* Carrosel */


main {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-content: center;
}

.contenedorFlex {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0.25rem;
  padding: 0.1rem;
}

.tituloSecundario,
.tituloTercero {
  width: 100%;
  text-align: center;
}

.contenedorFlex p {
  width: 90%;
  margin: auto;
  text-align: justify;
  font-size: 1.25rem;
  padding: 0 0.5rem;
}


.imagen:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.contenedorFlex img,
.contenedorFlex p {
  width: 45%;
  font-size: 1.5rem;
}

.tituloSecundario,
.tituloTercero {
  width: 1310px;
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
  border-bottom: solid 1px#222;
  border-top: solid 1px #222;
}

/* Mobile fist Footer */
.whatsappTurno {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
}
.whatsappTurno i {
  margin-left: 50px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.float-end {
  margin-right: 30px;
}
.iconoWhatsappFooter {
  color: #14939b;
  margin-left: 10px;
  margin-right: 10px;
}
.iconowhatsappfooter:hover {
  color: #25d366;
}
.whatsappTurno p {
  text-align: center;
  margin: auto 0;
  color: transparent;
  font-size: 1.5rem;
}

/* Barra del fooder */
.barraFooter {
  background-color: #444;
}
.elementosFooter {
  margin: auto;
}
.barraFooter div a {
  color: #7eced1;
}

.iconoWhatsapp:hover {
  color: #25d366;
}
.iconoInstagramFooter:hover {
  color: #833ab4;
}
.iconoFacebookFooter:hover {
  color: #3b5998;
}
.iconoCorreoFooter:hover {
  color: #0072c6;
}

.nuestraSucursal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #444;
  color: #def9f9;

  text-align: center;
}
.tituloSucursal {
  border-bottom: solid 1px #def9f9;
  padding-top: 30px;
}

.direccion a,
.telefono a {
  color: #def9f9;
  text-decoration: none;
  font-size: 1rem;
}

.contenedorTelefonoDireccion {
  margin: 0;
  font-size: 1rem;
}

@media (min-width: 800px) {
  .whatsappTurno p {
    color: #222;
  }
  .nuestraSucursal {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
  }
  .tituloSucursal {
    width: 1440px;
    font-size: 2rem;
    border-bottom: solid 1px #def9f9;
    padding-bottom: 40px;
  }
  .telefono,
  .direccion {
    width: 400px;
  }

  .direccion {
    margin-top: 15%;
    margin-bottom: 10%;
  }

  .telefono {
    margin-top: 10%;
    margin-bottom: 15%;
  }
  .contenedorMapa iframe {
    width: 700px;
    height: 300px;
  }
  .contenedorTelefonoDireccion {
    margin: 0;
    font-size: 1.5rem;
  }
  .direccion a,
  .telefono a {
    font-size: 1.5rem;
  }
}

/*MOBILE FIRST contacto.html*/

.iconoInstagram {
  color: #12909e;
}
.iconoWhatsapp {
  color: #12909e;
}
.iconoInstagram:hover {
  color: #833ab4;
}
.iconoWhatsapp:hover {
  color: #25d366;
}
.contenidoFormulario {
  opacity: 1;
}

.contenedorContacto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-bottom: 50px;
  width: auto;
}
.itemContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin: 5% 0;
}

form {
  border-left: solid 1px black;
  border-right: solid 1px black;
  width: 250px;
}
form label {
  margin-left: 5%;
}
.contenidoFormulario {
  font-family: "Poiret One", cursive;
  background-color: #def9f9;
  text-align: center;
  border: none;
  border-bottom: solid black 1px;
  padding: 2% 5%;
  width: 200px;
}

.boton {
  font-family: "Poiret One", cursive;
  background-color: #75bcbc;
  font-size: 20px;
  text-align: center;
  padding: 2%;
  border: solid 1px black;
  opacity: 1;
  margin: 10px auto;
}
.boton:hover {
  background-color: #12909e;
}
.mapaContacto {
  width: 300px;
}
/*VERSION TAB contacto.html*/
@media (min-width: 700px) and (max-width: 800px) {
  .contenedorContacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin: 2% auto;
  }

  .contenedorContacto {
    width: 650px;
  }
  form {
    width: 550px;
  }
  .itemContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
  }
  .mapaContacto {
    width: 550px;
    height: 300px;
  }
  .contenidoFormulario {
    width: 450px;
  }
}

/*VERSION WEB contacto.html*/
@media screen and (min-width: 801px) {
  .contenedorContacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    align-content: space-around;
    text-align: center;
  }

  .itemContacto {
    display: flex;

    flex-direction: column;
    flex-wrap: nowrap;

    align-items: center;
    align-content: center;
    width: 400px;
    height: 450px;
  }

  .contendorMapaForm {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 1000px;
  }

  form {
    border-left: solid 1px black;
    border-right: solid 1px black;
    width: 350px;
    height: 400px;
  }
  form label {
    margin-left: 5%;
    text-align: center;
  }
  .contenidoFormulario {
    font-family: "Poiret One", cursive;
    background-color: #def9f9;
    font-size: 20px;
    border: none;
    padding: 2% 5%;
  }

  .boton {
    font-size: 20px;
    text-align: center;
    border: solid 1px black;
  }
  .boton:hover {
    background-color: #12909e;
  }
  .mapaContacto {
    margin-top: 50px;
    width: 350px;
    height: 400px;
  }
  .itemContactoIcono {
    width: 400px;
    margin: 0 30px;
  }
}

.card img {
  object-fit: cover;
  width: 95%;
  height: 300px;
  margin: auto;
}

#carouselExampleControls {
  width: 500px;
  margin: auto;
}
.btn-primary {
  margin-top: 60px;
}

.botonWhatsapp {
  width: 100%;
  position: static;
}

.tituloPagina {
  margin-top: 5%;
  text-align: center;
}

.textoPrimerSubtitulo {
  margin: 5%;
}

.btn {
  margin-right: 15px;
  margin-bottom: 15px;
  position: sticky;
  z-index: 5;
}
.btn a {
  text-decoration: none;
  color: #def9f9;
}

.navbar {
  background-color: linear-gradient (to left #def9f9, #12909e);
}
/* Peluqueria index */
@media screen and (min-width: 801px) {
  .textoPrimerSubtitulo {
    font-size: 25px;
  }
}
