.itemContactoIcono a {
  color: map-get($colores, secundario);
}
.itemContactoIcono i {
  margin-left: 35%;
}
.tituloPagina {
  margin-top: 39%;
}
.subtituloSegundo {
  margin-top: 15%;
  text-align: center;
}
.itemContacto:first-child {
  margin-left: 9%;
}
.botonContacto {
  margin: 5% 37%;
}
.mapaContacto {
  width: 250px;
  margin-left: 2%;
}
.contenedorContacto{
  padding-bottom: 5%;
}


/*VERSION TAB contacto.html*/
@include mediaQuery(tablet) {
  .tituloPagina {
    margin-top: 15%;
  }
  .botonContacto {
    margin: 5% 45%;
  }

  .mapaContacto {
    margin-top: 50px;
    width: 600px;
    height: 400px;
  }

  .subtituloSegundo {
    margin-left: 0;
  }
  .itemContactoIcono i {
    margin-left: 45%;
  }
}

/*VERSION WEB contacto.html*/
@include mediaQuery(desktop) {
  .tituloPagina {
    margin-top: 15%;
  }
  .subtituloSegundo {
    margin-top: 15%;
    text-align: center;
  }

  .contenedorContacto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    align-content: space-around;
    text-align: center;
  }

  .itemContacto {
    display: flex;

    flex-direction: column;
    flex-wrap: nowrap;

    align-items: center;
    align-content: center;
    width: 400px;
    height: 450px;
  }

  .contendorMapaForm {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 1000px;
  }

  form {
    border-left: solid 1px black;
    border-right: solid 1px black;
    width: 350px;
    height: 400px;
  }
  form label {
    margin-left: 5%;
    text-align: center;
  }
  .contenidoFormulario {
    font-family: "Poiret One", cursive;
    background-color: map-get($colores, principal);
    font-size: 20px;
    border: none;
    padding: 2% 5%;
  }

  .boton {
    font-size: 20px;
    text-align: center;
    border: solid 1px black;

  }
  .subtituloSegundo {
    margin-top: 15%;
    text-align: center;
  }

  .mapaContacto {
    margin-top: 50px;
    width: 350px;
    height: 400px;
  }
  .itemContactoIcono {
    width: 400px;
    margin: 0 30px;
  }
}
