* {
  margin: 0;
  padding: 0;
}

/* body {
  background-color: $colorPrincipal;

  .contenedorGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "contenendorGridH"
      "carrosel"
      "contenedorMain"
      "contenedorFooter";
  }
  .contenedorGridH {
    grid-area: contenendorGridH;

    .carrosel {
      grid-area: carrosel;
    }
    .contenedorMain {
      grid-area: contenedorMain;
    }
    .contenedorFooter {
      grid-area: contenedorFooter;
    }
  }
} */

/* NAVBAR */

.navbar {
  background-color: $colorSecundario;

  .logo {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
  }
  .nav-link {
    color: $colorfont;
    &:hover {
      color: $colorPrincipal;
    }
  }
}


