/* Mobile first */

.carroselIndex img {
  height: 100px;
}
.seccionIndex {
  display: flex;
  flex-direction: column;

  margin: 5%;

  .tituloSecundario {
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

    padding: 8% 8% 5% 8%;
  }
  .imagenSeccion {
    width: 90%;
    object-fit: cover;
    padding: 2%;
    margin: auto;
  }
  .textoSeccion {
    font-size: 20px;
    width: 80%;
    padding: 2%;
    margin: auto;
  }
}

@include mediaQuery(desktop) {
  .seccionIndex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 5%;

    &:first-child {
      background-color: map-get($colores, backMain);
    }
    &:last-child {
      background-color: map-get($colores, backMain);
    }

    .tituloSecundario {
      width: 135vh;
      text-align: center;
      font-size: 32px;
      font-weight: 700;

      padding: 8% 8% 5% 8%;
    }
    .imagenSeccion {
      width: 40%;
      object-fit: cover;
      padding: 2%;
      margin: auto;
    }
    .textoSeccion {
      font-size: 20px;
      width: 40%;
      padding: 2%;
      margin: auto;
    }
  }
}

/* 
main {
  @extend %flexColumn;
}

.contenedorFlex {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0.25rem;
  padding: 0.1rem;
}

.contenedorFlex img,
.contenedorFlex p {
  font-size: 1.5rem;
}


.contenedorFlex p {
  width: 90%;
  margin: auto;
  text-align: justify;
  font-size: 1.25rem;
  padding: 0 0.5rem;
}

.tituloSecundario,
.tituloTercero {
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
  background-color: map-get($colores, tercero);
}
.imagen {
  width: 200px;
  margin: auto;
}

@include mediaQuery(desktop) {
  .carrosel {
    border: solid 1px white;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 60%;
    margin-top: 10%;
  }
  .tituloPrincipal {
    color: map-get($colores, principal);
    text-align: center;
    margin-bottom: 5%;
  }

  .nombre {
    margin-bottom: 0rem;
    font-size: 1rem;
    color: map-get($colores, principal);
  }

  .carrosel img {
    width: auto;
    height: 250px;
    object-fit: cover;
  }

  .contenedorFlex {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100;
  }
  .imagen {
    width: 500px;

    &:hover {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -o-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
    }
  }

  

  .tituloSecundario,
  .tituloTercero {
    text-align: center;
    margin: auto;
    font-size: 24px;
    width: 100%;
    color: map-get($colores, font);
  }
.imagen {
  width: 30%;

  margin: 0;
  
}
}
 */
