/* & se usa para poder acomodar el codigo, para no repetir el mismo class para llamar y darle estilo */
/* si uso inventacion puedo usar esta propiedad tambien */
/* Separa por secciones  */

/* Carrosel */

main {
  @extend %flexColumn;
}

.contenedorFlex {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0.25rem;
  padding: 0.1rem;
}

.contenedorFlex img,
.contenedorFlex p {
  font-size: 1.5rem;
}

/* Cuerpo */
.contenedorFlex p {
  width: 90%;
  margin: auto;
  text-align: justify;
  font-size: 1.25rem;
  padding: 0 0.5rem;
}

.tituloSecundario,
.tituloTercero {
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
  background-color: map-get($colores, tercero);
}
.imagen {
  width: 200px;
  margin: auto;
}
/* web */
@include mediaQuery(desktop) {
  .carrosel {
    border: solid 1px white;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 60%;
    margin-top: 10%;
  }
  .tituloPrincipal {
    color: map-get($colores, principal);
    text-align: center;
    margin-bottom: 5%;
  }

  .nombre {
    margin-bottom: 0rem;
    font-size: 1rem;
    color: map-get($colores, principal);
  }

  .carrosel img {
    width: auto;
    height: 250px;
    object-fit: cover;
  }

  .contenedorFlex {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100;
  }
  .imagen {
    width: 500px;

    &:hover {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -o-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
  /* animacion */

  .tituloSecundario,
  .tituloTercero {
    text-align: center;
    margin: auto;
    font-size: 24px;
    width: 100%;
    color: map-get($colores, font);
  }
.imagen {
  width: 30%;

  margin: 0;
  
}
}