/* & se usa para poder acomodar el codigo, para no repetir el mismo class para llamar y darle estilo */
/* si uso inventacion puedo usar esta propiedad tambien */
/* Separa por secciones  */

/* Carrosel */
.tituloPrincipal {
  font-size: 2rem;
  color: #222;

  text-align: center;
  margin: 0rem 0.25rem 0.25rem 0;
}

.nombre {
  margin-bottom: 0.1rem;
}

main {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-content: center;
}

.contenedorFlex {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0.25rem;
  padding: 0.1rem;
}

.contenedorFlex img,
.contenedorFlex p {
  font-size: 1.5rem;
}

/* web */
@media (min-width: 800px) {
  .carrosel {
    border: solid 1px white;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 60%;
  }

  
  .carrosel img {
    width: 1400px;
    height: 400px;
    object-fit: cover;
  }
  .tituloPrincipal {
    margin: 9%;
    background-color: transparent;
    font-size: 3rem;
    -webkit-text-stroke: 0.000000001px #def9f9;
    color: #222;
  }
  .contenedorFlex {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100;
  }
  .imagen {
    width: 500px;

    &:hover {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -o-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
  /* animacion */
}

/* Cuerpo */
.contenedorFlex p {
  width: 90%;
  margin: auto;
  text-align: justify;
  font-size: 1.25rem;
  padding: 0 0.5rem;
}


.tituloSecundario,
.tituloTercero {

  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
  border-bottom: solid 1px#222;
  border-top: solid 1px #222;
}
