/* Peluqueria */
@media screen and (min-width: 801px) {
  .textoPrimerSubtitulo {
    font-size: 25px;
  }
}
.tituloPagina {
  margin-top: 20%;

  text-align: center;
}
.contenedorTitulo{
  background-color: map-get($colores, principal);
}
.textoPrimerSubtitulo {
  margin: 5%;
}

.card img {
  object-fit: cover;
  width: 95%;
  height: 300px;
  margin: auto;
}
