$colorPrincipal: #def9f9;
$colorSecundario: #12909e;
$colorFont:#0000008c;
$colorWhatsapp:#25d366;
$colorInstagram:#833ab4;
$colorFacebook: #3b5998;
$colorCorreo:#0072c6;

/* 
$tipografia:
arial,
times new roman,
comic sans;
 */
